$main_font: 'Montserrat', sans-serif;
$logo_font: 'Philosopher', sans-serif;

$primary: #562D49;
$secondary: #85E5D3;
$tertiary: rgb(232, 224, 238);

$header: 65px;
$search: 118px;
$header-search: 183px;