<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unhindered</title>

    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Philosopher" rel="stylesheet">

</head>

<body>

    <header class="header">

        <div class="container">

            <a class="logo" href="index.html">
                <h1>
                    Unhindered
                </h1>
            </a>

        </div>

    </header>

    <main>

        <div class="search-form">

            <div class="container">

                <form method="post" action="/location_route">

                    <label for="location">Location:</label>
                    <input id="location" name="location" required="required" type="text" placeholder="e.g. N1C 4TB">
                    <input class="button" type="submit" value="Search" id="submit-button">

                </form>

                <div class="refined">

                    <a href="refine.html">
                        <button class="refine-button">Refine</button>
                    </a>

                    <ul>
                        <li class="step-free icon" title="100% Step Free Access">
                            <span class="sr">
                                100% Step Free Access
                            </span>
                        </li>
                        <li class="parking icon" title="Parking outside venue">
                            <span class="sr">
                                Parking outside venue
                            </span>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9933.573121116895!2d-0.127915536688548!3d51.506000446554644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1539783421063"
                frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="results">

            <a class="expand" href="expanded.html">
                <button class="sr">Expand</button>
            </a>

            <ul>
                
                <li class="result">
                    <a href="information.html">
                        <h3>Name</h3>
                        <p>Address</p>
                        <ul class="icons">
                            <li class="step-free icon" title="100% Step Free Access">
                                <span class="sr">
                                    100% Step Free Access
                                </span>
                            </li>

                            <li class="lift icon" title="Lift available">
                                <span class="sr">
                                    Lift available
                                </span>
                            </li>
                            <li class="door icon" title="Automatic door">
                                <span class="sr">
                                    Automatic door
                                </span>
                            </li>
                            <li class="parking icon" title="Parking outside venue">
                                <span class="sr">
                                    Parking outside venue
                                </span>
                            </li>
                            <li class="toilet icon" title="Easily-accessed accessible toilet">
                                <span class="sr">
                                    Easily-accessed accessible toilet
                                </span>
                            </li>
                        </ul>
                    </a>
                </li>

                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="parking icon" title="Parking outside venue">
                            <span class="sr">
                                Parking outside venue
                            </span>
                        </li>
                        <li class="toilet icon" title="Easily-accessed accessible toilet">
                            <span class="sr">
                                Easily-accessed accessible toilet
                            </span>
                        </li>
                    </ul>
                </li>

                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="toilet icon" title="Easily-accessed accessible toilet">
                            <span class="sr">
                                Easily-accessed accessible toilet
                            </span>
                        </li>
                    </ul>
                </li>

                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="step-free icon" title="100% Step Free Access">
                            <span class="sr">
                                100% Step Free Access
                            </span>
                        </li>
                        
                        <li class="lift icon" title="Lift available">
                            <span class="sr">
                                Lift available
                            </span>
                        </li>
                    </ul>
                </li>

                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="step-free icon" title="100% Step Free Access">
                            <span class="sr">
                                100% Step Free Access
                            </span>
                        </li>
                
                        <li class="lift icon" title="Lift available">
                            <span class="sr">
                                Lift available
                            </span>
                        </li>
                        <li class="door icon" title="Automatic door">
                            <span class="sr">
                                Automatic door
                            </span>
                        </li>
                        <li class="parking icon" title="Parking outside venue">
                            <span class="sr">
                                Parking outside venue
                            </span>
                        </li>
                        <li class="toilet icon" title="Easily-accessed accessible toilet">
                            <span class="sr">
                                Easily-accessed accessible toilet
                            </span>
                        </li>
                    </ul>
                </li>
                
                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="parking icon" title="Parking outside venue">
                            <span class="sr">
                                Parking outside venue
                            </span>
                        </li>
                        <li class="toilet icon" title="Easily-accessed accessible toilet">
                            <span class="sr">
                                Easily-accessed accessible toilet
                            </span>
                        </li>
                    </ul>
                </li>
                
                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="toilet icon" title="Easily-accessed accessible toilet">
                            <span class="sr">
                                Easily-accessed accessible toilet
                            </span>
                        </li>
                    </ul>
                </li>
                
                <li class="result">
                    <h3>Name</h3>
                    <p>Address</p>
                    <ul class="icons">
                        <li class="step-free icon" title="100% Step Free Access">
                            <span class="sr">
                                100% Step Free Access
                            </span>
                        </li>
                
                        <li class="lift icon" title="Lift available">
                            <span class="sr">
                                Lift available
                            </span>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </main>

</body>

</html>